
<p>
  Buy now and earn <strong>{{ cart.total_price | divided_by:400 | floor }}</strong> divit miles.
  <img style="width:60px;" src="https://youair.divit.dev/assets/images/payments/divit.png" />
</p>