<p>
  <span>Earn </span>
  <img style="width:14px;" src="https://youair.divit.dev/assets/images/divit-miles-logo-color.svg" />
  <b> {{ featured.price | divided_by:400 | floor }} </b>
  <span>divit miles</span>
</p>